<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>theme3</key>
	<dict>
		<key>bgtile</key>
		<string>theme1_bgtile.png</string>
		<key>imageshape</key>
		<string>round</string>
		<key>bgmain</key>
		<string>theme3_main_bg</string>
		<key>themename</key>
		<string>Irish</string>
		<key>btnpulldown</key>
		<string>theme3_main_logo_button</string>
		<key>bgtopbar</key>
		<string>theme3_main_navigation_bar</string>
		<key>btnsearch</key>
		<string>theme3_main_search</string>
		<key>btnadd</key>
		<string>theme3_main_add_friends_button</string>
		<key>btnbell</key>
		<string>theme3_main_notification</string>
		<key>btnsettings</key>
		<string>theme3_main_side_menu</string>
		<key>btnshoutout</key>
		<string>theme3_main_shout_out</string>
		<key>btnshoutoutselected</key>
		<string>theme3_sendtoall_shout_out</string>
		<key>profileseparator</key>
		<string>theme3_main_line_</string>
		<key>profileborder</key>
		<string>theme3_main_frame_</string>
		<key>btnshoutoutsmall</key>
		<string>theme3_main_send_</string>
		<key>profileroundicon</key>
		<string>theme3_main_small_circle_</string>
		<key>bgsingle</key>
		<string>theme3_sendtofriendselected_bg</string>
		<key>btnsingleshout</key>
		<string>theme3_sendtofriendselected_shout_out</string>
		<key>btnback</key>
		<string>theme3_sendtofriendselected_back_button</string>
		<key>btnaudiobarunselected</key>
		<string>theme3_sendtofriendselected_selected_send_bar</string>
		<key>btnaudiobarunselectedsingle</key>
		<string>theme3_sendtofriendselected_selected_send_bar</string>
		<key>btnaudiobarselected</key>
		<string>theme3_sendtofriendselected_unselected_send_bar_w</string>
		<key>btnbacksingle</key>
		<string>theme3_sendtofriendselected_back_button</string>
		<key>bgtopbarsingle</key>
		<string>theme3_sendtofriendselected_navigation_bar</string>
		<key>btnsendsingleselected</key>
		<string>theme3_sendtofriendselected_send_red</string>
		<key>btnsendsingleunselected</key>
		<string>theme3_sendtofriendselected_btnplay_white</string>
		<key>btnplayunselected</key>
		<string>theme3_sendtofriendselected_send_white</string>
		<key>btnplayselected</key>
		<string>theme3_sendtofriendselected_btnplay_red</string>
		<key>profileseparatorsingle</key>
		<string>theme3_sendtofriendselected_line</string>
		<key>btnpulldownsingle</key>
		<string>theme3_sendtofriendselected_logo_button</string>
		<key>bghalfcirclesingle</key>
		<string>theme3_sendtofriendselected_circle_half_right</string>
		<key>profilebordersingle</key>
		<string>theme3_sendtofriendselected_image_yellow_frame</string>
		<key>btnbackgroup</key>
		<string>theme3_sendtoall_back_button</string>
		<key>bggroup</key>
		<string>theme3_sendtoall_bg</string>
		<key>bgtopbargroup</key>
		<string>theme3_sendtoall_navigation_bar</string>
		<key>profilebordergroup</key>
		<string>theme3_sendtoall_image_frame_</string>
		<key>btnsendgroupselected</key>
		<string>theme3_sendtofriendselected_send_red_w</string>
		<key>btnsendgroupunselected</key>
		<string>theme3_sendtoall_send_red</string>
		<key>btngroupsendbarunselected</key>
		<string>theme3_sendtoall_send_bar</string>
		<key>btngroupsendbarselected</key>
		<string>theme3_sendtofriendselected_unselected_send_bar</string>
		<key>dropdownnavbar1</key>
		<string>theme3_navigation_bar</string>
		<key>dropdownnavbar2</key>
		<string>theme3_navigation_bar_2</string>
		<key>dropdownbtnback</key>
		<string>theme3_back_button</string>
		<key>btnshoutoutgroupunselected</key>
		<string>theme3_main_shout_out</string>
		<key>btnshoutoutgroupselected</key>
		<string>theme3_main_shout_out_selected</string>
		<key>fbfsegment0unselected</key>
		<string>theme3_facebook_friends</string>
		<key>fbfsegment0selected</key>
		<string>theme3_fbf_facebook_hover_button</string>
		<key>fbfsegment1unselected</key>
		<string>theme3_find_friends</string>
		<key>fbfsegment1selected</key>
		<string>theme3_findfriends_find_friends_hover_button</string>
		<key>fbfsegment2unselected</key>
		<string>theme3_friend_requests</string>
		<key>fbfsegment2selected</key>
		<string>theme3_friendreq_friends_request_hover</string>
		<key>fbfbtnpending</key>
		<string>theme3_btn_pending</string>
		<key>fbfbtnadd</key>
		<string>irish_btn_add</string>
		<key>fbfbtnadded</key>
		<string>theme3_btn_added</string>
		<key>fbfbtnaccept</key>
		<string>theme3_button_accept</string>
		<key>managebtnunfriend</key>
		<string>theme3_button_unfriend</string>
		<key>managebtnblock</key>
		<string>theme3_button_block</string>
		<key>managebtnunblock</key>
		<string>irish_btn_unblock</string>
		<key>findfriendseg0unselected</key>
		<string>theme3_email_login_find_friends</string>
		<key>findfriendseg0selected</key>
		<string>theme3_email_login_find_friends_hover</string>
		<key>findfriendseg1unselected</key>
		<string>theme3_email_login_friend_requests</string>
		<key>findfriendseg1selected</key>
		<string>theme3_email_login_friend_requests_hover</string>
		<key>audiomessages</key>
		<array>
			<string>WHAT’S THE CRAIC?</string>
			<string>SLAINTE!</string>
			<string>STATE O&apos;YOU</string>
			<string>LÁ FHÉILE PÁDRAIG SONA DUIT</string>
		</array>
		<key>audiofilename</key>
		<array>
			<string>whats_the_craic.mp3</string>
			<string>slainte.mp3</string>
			<string>state_o_you.mp3</string>
			<string>saint_patricks_day.mp3</string>
		</array>
		<key>colorsinglesendunselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>colorsinglesendselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>colorgroupsendunselected</key>
		<array>
			<string>49</string>
			<string>154</string>
			<string>111</string>
		</array>
		<key>colorgroupsendselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
	</dict>
	<key>theme2</key>
	<dict>
		<key>bgtile</key>
		<string>theme1_bgtile.png</string>
		<key>imageshape</key>
		<string>square</string>
		<key>bgmain</key>
		<string>theme2_main_bg</string>
		<key>themename</key>
		<string>Australia</string>
		<key>btnpulldown</key>
		<string>theme2_main_logo_button</string>
		<key>bgtopbar</key>
		<string>theme2_main_navigation_bar</string>
		<key>btnsearch</key>
		<string>theme2_main_search</string>
		<key>btnadd</key>
		<string>theme2_main_add_friends_button</string>
		<key>btnbell</key>
		<string>theme2_main_notification</string>
		<key>btnsettings</key>
		<string>theme2_main_side_menu</string>
		<key>btnshoutout</key>
		<string>theme2_main_shout_out</string>
		<key>btnshoutoutselected</key>
		<string>theme2_group_sendpush_selected</string>
		<key>profileseparator</key>
		<string>theme2_main_line_</string>
		<key>profileborder</key>
		<string>theme2_main_frame_</string>
		<key>btnshoutoutsmall</key>
		<string>theme2_main_send_</string>
		<key>profileroundicon</key>
		<string>theme2_main_small_circle_</string>
		<key>bgsingle</key>
		<string>theme2_sendtofriendselected_bg</string>
		<key>btnsingleshout</key>
		<string>theme1_sendtofriendselected_shout_out</string>
		<key>btnback</key>
		<string>theme2_sendtofriendselected_back_button</string>
		<key>btnaudiobarunselected</key>
		<string>theme2_sendtoall_send_bar</string>
		<key>btnaudiobarunselectedsingle</key>
		<string>theme2_sendtofriendselected_selected_send_bar</string>
		<key>btnaudiobarselected</key>
		<string>theme2_sendtofriendselected_selected_bar</string>
		<key>btnbacksingle</key>
		<string>theme2_sendtofriendselected_back_button</string>
		<key>bgtopbarsingle</key>
		<string>theme2_sendtofriendselected_navigation_bar</string>
		<key>btnsendsingleselected</key>
		<string>theme2_sendtofriend_btnplay_selected</string>
		<key>btnsendsingleunselected</key>
		<string>theme2_sendtofriendselected_send_red</string>
		<key>btnplayunselected</key>
		<string>theme2_sendtofriend_btnplay_unselected</string>
		<key>btnplayselected</key>
		<string>theme2_sendtofriend_send_white</string>
		<key>profileseparatorsingle</key>
		<string>theme2_sendtofriendselected_line</string>
		<key>btnpulldownsingle</key>
		<string>theme2_sendtofriendselected_logo_button</string>
		<key>bghalfcirclesingle</key>
		<string>theme2_sendtofriendselected_circle_half_right</string>
		<key>profilebordersingle</key>
		<string>theme2_sendtofriendselected_image_yellow_frame</string>
		<key>btnbackgroup</key>
		<string>theme2_sendtoallselected_back_button</string>
		<key>bgtopbargroup</key>
		<string>theme2_sendtoall_navigation_bar</string>
		<key>bggroup</key>
		<string>theme2_sendtoallselected_bg</string>
		<key>profilebordergroup</key>
		<string>theme2_sendtoall_image_frame_</string>
		<key>btnsendgroupselected</key>
		<string>theme2_sendtofriend_send_white</string>
		<key>btnsendgroupunselected</key>
		<string>theme2_sendtofriend_btnplay_unselected</string>
		<key>btngroupsendbarunselected</key>
		<string>theme2_sendtoall_send_bar</string>
		<key>btngroupsendbarselected</key>
		<string>theme2_sendtofriendselected_selected_bar</string>
		<key>dropdownnavbar1</key>
		<string>theme2_navigation_bar</string>
		<key>dropdownnavbar2</key>
		<string>theme2_navigation_bar_2</string>
		<key>dropdownbtnback</key>
		<string>theme2_back_button</string>
		<key>btnshoutoutgroupunselected</key>
		<string>theme2_sendtoall_shout_out</string>
		<key>btnshoutoutgroupselected</key>
		<string>theme2_group_sendpush_selected</string>
		<key>fbfsegment0unselected</key>
		<string>theme2_facebook_friends</string>
		<key>fbfsegment0selected</key>
		<string>theme2_fbf_facebook_hover_button</string>
		<key>fbfsegment1unselected</key>
		<string>theme2_find_friends</string>
		<key>fbfsegment1selected</key>
		<string>theme2_findfriends_find_friends_hover_button</string>
		<key>fbfsegment2unselected</key>
		<string>theme2_friend_requests</string>
		<key>fbfsegment2selected</key>
		<string>theme2_friendreq_friends_request_hover</string>
		<key>fbfbtnpending</key>
		<string>theme2_btn_pending</string>
		<key>fbfbtnadd</key>
		<string>australian_btn_add</string>
		<key>fbfbtnadded</key>
		<string>theme2_btn_added</string>
		<key>fbfbtnaccept</key>
		<string>theme2_button_accept</string>
		<key>managebtnunfriend</key>
		<string>theme2_button_unfriend</string>
		<key>managebtnblock</key>
		<string>theme2_button_block</string>
		<key>managebtnunblock</key>
		<string>australian_btn_unblock</string>
		<key>findfriendseg0unselected</key>
		<string>theme2_email_login_find_friends</string>
		<key>findfriendseg0selected</key>
		<string>theme2_email_login_find_friends_hover</string>
		<key>findfriendseg1unselected</key>
		<string>theme2_email_login_friend_requests</string>
		<key>findfriendseg1selected</key>
		<string>theme2_email_login_friend_requests_hover</string>
		<key>audiomessages</key>
		<array>
			<string>G&apos;DAY MATE!</string>
			<string>HOW YA GOING?</string>
			<string>SHE&apos;LL BE RIGHT</string>
			<string>OZY OZY OZY OI OI OI!</string>
		</array>
		<key>audiofilename</key>
		<array>
			<string>gday_mate.mp3</string>
			<string>how_ya_going.mp3</string>
			<string>shell_be_right.mp3</string>
			<string>aussie_oi_oi.mp3</string>
		</array>
		<key>colorsinglesendunselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>colorsinglesendselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>colorgroupsendunselected</key>
		<array>
			<string>0</string>
			<string>174</string>
			<string>218</string>
		</array>
		<key>colorgroupsendselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
	</dict>
	<key>theme1</key>
	<dict>
		<key>bgtile</key>
		<string>theme1_bgtile.png</string>
		<key>imageshape</key>
		<string>rounded_square</string>
		<key>bgmain</key>
		<string>theme1_main_bg</string>
		<key>themename</key>
		<string>Jungle</string>
		<key>btnpulldown</key>
		<string>theme1_main_logo_button</string>
		<key>bgtopbar</key>
		<string>theme1_main_navigation_bar</string>
		<key>btnsearch</key>
		<string>theme1_main_search</string>
		<key>btnadd</key>
		<string>theme1_main_add_friends_button</string>
		<key>btnbell</key>
		<string>theme1_main_notification</string>
		<key>btnsettings</key>
		<string>theme1_main_side_menu</string>
		<key>btnshoutout</key>
		<string>theme1_main_shout_out</string>
		<key>btnshoutoutselected</key>
		<string>theme1_sendtoallselected_shout_out</string>
		<key>profileseparator</key>
		<string>theme1_main_line_</string>
		<key>profileborder</key>
		<string>theme1_main_frame_</string>
		<key>btnshoutoutsmall</key>
		<string>theme1_main_send_</string>
		<key>profileroundicon</key>
		<string>theme1_main_small_circle_</string>
		<key>bgsingle</key>
		<string>theme1_sendtofriendselected_bg</string>
		<key>btnsingleshout</key>
		<string>theme1_sendtofriendselected_shout_out</string>
		<key>btnback</key>
		<string>theme1_sendtofriendselected_back_button</string>
		<key>btnaudiobarunselected</key>
		<string>theme1_sendtofriendselected_send_bar</string>
		<key>btnaudiobarunselectedsingle</key>
		<string>theme1_sendtofriendselected_send_bar</string>
		<key>btnaudiobarselected</key>
		<string>theme1_sendtofriendselected_selected_bar</string>
		<key>btnbacksingle</key>
		<string>theme1_sendtofriendselected_back_button</string>
		<key>bgtopbarsingle</key>
		<string>theme1_sendtofriendselected_navigation_bar</string>
		<key>btnsendsingleselected</key>
		<string>theme1_sendtofriendselected_send_red</string>
		<key>btnsendsingleunselected</key>
		<string>theme1_shoutout_send_green</string>
		<key>btnplayunselected</key>
		<string>theme1_sendtofriendselected_send_white</string>
		<key>btnplayselected</key>
		<string>theme1_sendtofriendselected_selected_send_red</string>
		<key>profileseparatorsingle</key>
		<string>theme1_sendtofriendselected_line</string>
		<key>btnpulldownsingle</key>
		<string>theme1_sendtofriendselected_logo_button</string>
		<key>bghalfcirclesingle</key>
		<string>theme1_sendtofriendselected_circle_half_right</string>
		<key>profilebordersingle</key>
		<string>theme1_main_frame_3</string>
		<key>btnbackgroup</key>
		<string>theme1_sendtoallselected_back_button</string>
		<key>bgtopbargroup</key>
		<string>theme1_sendtoallselected_navigation_bar</string>
		<key>profilebordergroup</key>
		<string>theme1_main_frame_</string>
		<key>btnsendgroupselected</key>
		<string>theme1_sendtoallselected_selected_send_red</string>
		<key>btnsendgroupunselected</key>
		<string>theme1_sendtoallselected_send_red</string>
		<key>btngroupsendbarunselected</key>
		<string>theme1_sendtoallselected_send_bar</string>
		<key>btngroupsendbarselected</key>
		<string>theme1_sendtoallselected_selected_send_bar</string>
		<key>dropdownnavbar1</key>
		<string>theme1_navigation_bar</string>
		<key>dropdownnavbar2</key>
		<string>theme1_navigation_bar_2</string>
		<key>dropdownbtnback</key>
		<string>theme1_back_button</string>
		<key>btnshoutoutgroupunselected</key>
		<string>theme1_main_shout_out_selected</string>
		<key>btnshoutoutgroupselected</key>
		<string>theme1_sendtoallselected_shout_out</string>
		<key>fbfsegment0unselected</key>
		<string>theme1_facebook_friends</string>
		<key>fbfsegment0selected</key>
		<string>theme1_fbf_facebook_hover_button</string>
		<key>fbfsegment1unselected</key>
		<string>theme1_find_friends</string>
		<key>fbfsegment1selected</key>
		<string>theme1_findfriends_find_friends_hover_button</string>
		<key>fbfsegment2unselected</key>
		<string>theme1_friend_requests</string>
		<key>fbfsegment2selected</key>
		<string>theme1_friendreq_friends_request_hover</string>
		<key>fbfbtnpending</key>
		<string>theme1_btn_pending</string>
		<key>fbfbtnadd</key>
		<string>theme1_btn_add_normal_state</string>
		<key>fbfbtnadded</key>
		<string>theme1_btn_added</string>
		<key>fbfbtnaccept</key>
		<string>theme1_button_accept</string>
		<key>managebtnunfriend</key>
		<string>theme1_button_unfriend</string>
		<key>managebtnblock</key>
		<string>theme1_button_block</string>
		<key>managebtnunblock</key>
		<string>theme1_btn_unblock_hover</string>
		<key>findfriendseg0unselected</key>
		<string>theme1_email_login_find_friends</string>
		<key>findfriendseg0selected</key>
		<string>theme1_email_login_find_friends_hover</string>
		<key>findfriendseg1unselected</key>
		<string>theme1_email_login_friend_requests</string>
		<key>findfriendseg1selected</key>
		<string>theme1_email_login_friend_requests_hover</string>
		<key>audiomessages</key>
		<array>
			<string>HAKUNA MATATA</string>
			<string>JAMBO</string>
			<string>ASANTE SANA</string>
			<string>JUNGLE CALL</string>
		</array>
		<key>audiofilename</key>
		<array>
			<string>hakuna_matata.mp3</string>
			<string>jambo.mp3</string>
			<string>asante_sana.mp3</string>
			<string>tarzan_call.mp3</string>
		</array>
		<key>colorsinglesendunselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>colorsinglesendselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
		<key>colorgroupsendunselected</key>
		<array>
			<string>214</string>
			<string>31</string>
			<string>41</string>
		</array>
		<key>colorgroupsendselected</key>
		<array>
			<string>255</string>
			<string>255</string>
			<string>255</string>
		</array>
	</dict>
</dict>
</plist>
